asgiref
asttokens==2.0.5
async-generator==1.10
attrs==21.4.0
backcall==0.2.0
beautifulsoup4==4.11.1
bs4==0.0.1
certifi==2021.10.8
cffi==1.15.0
charset-normalizer==2.0.12
colorama==0.4.4
cryptography
debugpy
decorator==5.1.1
defusedxml==0.7.1
Django
django-allauth
djangorestframework
djangorestframework-jwt
djangorestframework-simplejwt
entrypoints
executing
h11
idna
ipykernel
ipython
jedi
joblib
jupyter-client
jupyter-core
lxml==4.8.0
matplotlib-inline
nest-asyncio
numpy
oauthlib
outcome
packaging
pandas
parso
pickleshare
Pillow
prompt-toolkit
psutil
pure-eval
pycparser
Pygments
PyJWT
pyOpenSSL
pyparsing
PySocks
python-dateutil
python-dotenv
python3-openid
pytz
pywin32
pyzmq
requests
requests-oauthlib
scikit-learn
scipy
selenium
six
sniffio
sortedcontainers
soupsieve
sqlparse
stack-data
threadpoolctl
tornado
tqdm
traitlets
trio
trio-websocket
tzdata
urllib3
wcwidth
webdriver-manager
wsproto
