asgiref
asttokens==2.0.5
backcall==0.2.0
beautifulsoup4==4.11.1
bs4==0.0.1
certifi==2021.10.8
charset-normalizer==2.0.12
colorama==0.4.4
debugpy
decorator==5.1.1
Django
djangorestframework
entrypoints
executing
pytz
sqlparse
typing_extensions
uwsgi