<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>index</title>

    <link rel="stylesheet" href="/static/css/date.css">
</head>
<body>
    {% extends 'base.html'%}
    {% block content %}
    <div style="float: left; border-right:1px solid">
        <div class="cityName">부산</div>
        <form autocomplete="on" method="post">
            {% csrf_token %}
            <div>
                <div style="white-space:nowrap;">출발날짜</div>
                <div style="text-align: right;">마지막 날</div>
                <input type='date' name='date'/>&nbsp;&nbsp;
                <input type="date" name="date2"/><br/>
                시작시간 <input type="time" name="time"><br>
<!--                지역선택-->
<!--                <select name="local">-->
<!--                 <option value="부산">부산</option>-->
<!--                </select>-->
            </div>
            <!-- 태그부분   -->
            <div style="display: block">
                <div>

                    <p><label><input type="checkbox" name="tag[]" value="힐링"> 힐링</label></p>
                    <p><label><input type="checkbox" name="tag[]" value="산책"> 산책</label></p>
                    <p><label><input type="checkbox" name="tag[]" value="공원"> 공원</label></p>
                    <p><label><input type="checkbox" name="tag[]" value="박물관"> 박물관</label></p>
                    <p><label><input type="checkbox" name="tag[]" value="야경"> 야경</label></p>
                    <p><label><input type="checkbox" name="tag[]" value="스포츠"> 스포츠</label></p>
                    <p><label><input type="checkbox" name="tag[]" value="문화"> 문화</label></p>
                    <p><label><input type="checkbox" name="tag[]" value="바다"> 바다</label></p>
                    <p><label><input type="checkbox" name="tag[]" value="사찰"> 사찰</label></p>
                    <p><label><input type="checkbox" name="tag[]" value="사진"> 사진</label></p>
                </div>

            </div>
            <div style="display: block"><input type="submit" value="완료"/></div>
                  {{ form.as_p }}
        </form>
    </div>
   <div style="float:right">
        <div id="map" style="width:500px;height:400px;"></div>
        <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=a85b858e7152976bb60b0c2e97096fbd"></script>
        <script type="text/javascript" src="/static/js/map.js"></script>
</div>
    {% endblock %}
</body>
</html>