<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>index</title>
</head>
<body>
{% extends "base.html" %}
{% block content %}
    <form action="{% url 'common:login' %}" autocomplete="on" method="post" >
        {% csrf_token %}
        {% include "form_errors.html" %}
        사용자ID: <input type="text" name="username" id="username"><br>
        비밀번호: <input type="password" name="password" id="password"><br>
        <button type="submit">로그인</button>
    </form>
{% endblock %}
</body>
</html>
