<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>index</title>
    <link rel="stylesheet" href="/static/css/login.css">
</head>
<body>
{% extends "base.html" %}
{% block content %}
{% include "form_errors.html" %}
<section class="login-form">
        <h1>Login</h1>
        <div>
        <form action="{% url 'common:login' %}" method="post">
            {% csrf_token %}

            <div class="int-area">
                <input type="text" name="username" id="id" autocomplete="off" required>
                <label for="id">USER NAME</label>
            </div>
            <div class="int-area">
                <input type="password" name="password" id="password" autocomplete="off" required>
                <label for="password">PASSWORD</label>
            </div>
            <div class="btn-area">
                <button id="btn" type="submit">LOGIN</button>

            </div>
        </form>
        </div>
        <div class="caption">
            <a href="{% url 'common:signup' %}">회원가입</a>
        </div>
    </section>

{% endblock %}
</body>
</html>
