{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <title>index</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
<!-- Bootstrap JS -->
    <script src="{% static 'css/bootstrap.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
<!-- 네비게이션바 -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
        <div class="container-fluid">
            <a class="navbar-brand" type="button" onclick="location.href='http://127.0.0.1:8000/home/' ">돌피스</a>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <div style="display: flex; justify-content: center; align-items: center;">
                            {% if user.is_authenticated %}
                            <a class="nav-link" href="{% url 'common:logout' %}">{{ user.username }} (로그아웃)</a>
                            <a class="nav-link" href="{% url 'common:profile' user.pk %}" >마이페이지</a>
                            {% else %}
                            <a class="nav-link" href="{% url 'common:signup' %}" style="float:right">회원가입</a>
                            <a class="nav-link" href="{% url 'common:login' %}" style="float:right">로그인</a>
                        </div>


                        {% endif %}
                    </li>
                </ul>
            </div>
        </div>
    </nav>
{% block content %}

{% endblock %}

</body>
</html>